body{
  margin: 0;
}

.google-map{
  width: 100%;
  height: 400px;
  background: yellow;
}

.informations{
  width: 40%;
  background: green;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;  
  padding-top: 30px;
}

.informations hr{
  width: 300px;
}

form{
  width: 60%;
}
