*{
    box-sizing: border-box;
}

body{
    background-color:#333;
    height: 100vh;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

section{
    width: 100%;
    height: calc(100% - 49px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: linear-gradient(to right bottom, #d3958d, #f84d4d, #d3958d) ;
}

.text-container{
    display: flex; 
    justify-content: center;
    width: 70%; 
    position: relative; 
    margin-top: 10px;
    border-radius: 4px; 
    min-height: 50px;
}


.text-container input{
    width: calc(100% - 60px); 
    font-size: 1rem;
    margin:0;
    padding-left: 30px;
    outline: none;
    border-radius: 4px;
    transition: border 0.4s;
    border: 2px white solid;
}

.text-container input:focus{
    border: 2px solid red;
    box-shadow: 0 12px 50px 2px rgba(255, 0, 0, 0.4);
}
   

.filter-panel{  
    position: absolute;
    top: 110px;
    width: 65%;
    height: 0px; 
    transition: height 0.5s;
    background: rgba(211, 211, 211, 0.712);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    overflow: hidden;
}

iframe{
    width: 100%;
    height: 100%;
}

.show-filter-panel{
    display: flex;
}

.animate-filter-panel{
    height: 48px;
    border: 1px gray solid; 
}

.filter-panel label{
    margin-right: 20px;
    font-size: 0.8rem;
}

.filter-panel input[type='checkbox']{
    transform: scale(1.4);
    margin-right: 5px;
}

.outside{
    width: 93%;
    height: 80%;
    background-color: white;
    border-radius: 5px;
    margin-top: 50px;
}

.center{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: rgb(180,180,180);
}
@media only screen and (max-width: 650px){
    .text-container{
        width: 100%;
    }    
    .text-container input{
        font-size: 0.8rem; 
    }
    .filter-panel{
        width: 100%;
        font-size: 0.8rem;
    }
    .filter-panel input[type='checkbox']{
        transform: scale(1.2);
        margin-right: 5px;
    }
    .filter-panel label{
        font-size: 0.7rem;
    }
}

@media screen and(min-height: 850px) {
    .text-container{
        margin-top: 40px;
    }
    

    .filter-panel{
        top: 140px;
    }
}
