
  body{
    background: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  h1{
    color: rgb(182, 1, 1);
  }
  
  form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  p{
    margin: 10px 0 5px 0;
  }

  #name-field{
    width: 70%;
    height: 30px;
  }

  #description-field{
    width: 70%;
    height: 30px;
  }

  #class-field{
    width: 70%;
    height: 30px;
  }

  #content-field{
    width: 90%;
    height: 200px;
  }

  #submit-button{
    width: 90%;
    height: 40px;
    margin-top: 20px;
    background: red;
    color: white;
    font-size: 22px;
    font-weight: bold;
  }
  
  #submit-button:hover{
    background: rgb(155, 1, 1);
  }